<ng-container *ngIf="products.length !=0">
    <div *ngFor="let product of products; let i = index">
       <span>{{product.description}}</span>
       <span> {{product.price}}</span>
       <button (click)="removeItem(product)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
      </div>
    <div>
        <span>Total: {{grandTotal}}</span>
    </div>
    <div>
        <button (click)="addMore()" class="btn btn-primary">Add More</button>
       <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div>
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
</ng-container>