<ng-container *ngIf="products.length !=0">
    <button (click)="redirectToOrders()" class="btn"><a>Go To Orders</a></button>
    <div class="container">
        <h5 class="
        card-title">My Cart</h5>
        <div class="cart-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td style="width: 25%;">{{item.description}}</td>
                            <td style="width: 20%;"><img style="width: 35px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 15%;">{{item.unitPrice}}</td>
                            <td style="width: 15%;"> 
                                <button clear (click)="decrementQty(item)" class="btn icon"><i class="fas fa-regular fa-minus"></i></button> {{item.quantity}}
                                <button clear (click)="incrementQty(item)" class="btn icon"><i class="fas fa-regular fa-plus"></i></button></td>
                            <td style="width: 2%;">{{item.total}}</td>
                            <td style="width: 10%;">
                                <button id="deleteBtn" (click)="removeItem(item)" class="btn"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td style="width: 70%;"><strong>Grand Total : € {{grandTotal}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td style="width: 5%;"><button id="emptyCartBtn" (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td style="width: 5%;"><button (click)="addMore()" class="btn btn-primary">Shop More</button></td>
                            <td style="width: 5%;"><button [disabled]="products.length === 0" (click)="placeOrder()" class="btn btn-success">Place Order</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length === 0 && !shopMore" >
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button (click)="addMore()" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="shopMore">
    <app-products (selectedProduct)="updateCart($event)"></app-products>
</ng-container>