.login-form {
    width: 30%;
    padding: 20px;
    border: 1px solid #6c757d;
    margin-top: 2%;
    margin-left: 35%;
    background-color: #6c757d;
}

.submit-btn {
    margin-top: 20px;
}

.title {
    text-align: center;
    margin-top: 5%;
}

.error {
    color: rgb(203, 20, 20);
}