<ng-container class="card">
    <h3 class="title">E-Shopping</h3>
    <form class="login-form">
        <div class="form-group">
          <label>Email address</label>
          <input required type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input required type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" (click)="redirectToOrders()" class="submit-btn btn btn-primary">Submit</button>
      </form>
</ng-container>